 




<h1 *ngIf="currentUser">Hi {{currentUser.first_name}}!</h1>
<p>You're logged in with Angular 7!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users" >
        {{user.username}} ({{user.first_name}} {{user.last_name}})
             <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>